#background-server {
  background-image: url("../image/background-server.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#home-background {
  background: rgba(256, 256, 256, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  border: 1px solid #ffffff;
  max-height: 800px;
  width: 700px;
  padding: 20px;
  overflow: auto;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

#image-servidor {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-servidor img {
  width: 50%;
}

p {
  margin: 0;
  font-size: 16px;
  text-align: justify;
  color: #ffffff;
}

#text-center{
    text-align: center;
    padding: 10px;
    font-weight: 600;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-button {
  border-radius: 20px;
  padding: 8px 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
  cursor: pointer;
  
}

#home-button:hover{
 background-color: #20b1ff;
 transition: 0.3s ease;
}

@media (max-width: 600px) {
  #login-background {
    width: 45%;
    padding: 15px;
  }

  h2 {
    font-size: 28px;
  }

  input {
    font-size: 12px;
  }

  #login-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  #social-media a {
    font-size: 19px;
    margin: 0 8px;
  }
}

@media (max-width: 425px) {
  #login-background {
    width: 60%;
    padding: 15px;
  }

  h2 {
    font-size: 26px;
  }

  input {
    font-size: 12px;
  }

  #login-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  #social-media a {
    font-size: 19px;
    margin: 0 8px;
  }
}

@media (max-width: 320px) {
  #login-background {
    width: 80%;
    padding: 15px;
  }

  h2 {
    font-size: 24px;
  }

  input {
    font-size: 12px;
  }

  #login-button {
    font-size: 14px;
    padding: 10px 15px;
  }

  #social-media a {
    font-size: 19px;
    margin: 0 8px;
  }
}
